
.vs/OpenGL_Day1/v17/Solution.VC.db
.vs/OpenGL_Day1/v17/ipch/AutoPCH/a2cfc19fb2838410/SOURCE.ipch
.vs/OpenGL_Day1/v17/ipch/AutoPCH/6e8f71fb40343f37/SOURCE.ipch
.vs/OpenGL_Day1/v17/ipch/AutoPCH/49743f9fdf7fefeb/SHADERFUNCTIONS.ipch
.vs/OpenGL_Day1/v17/ipch/AutoPCH/238aed8f14756e06/SOURCE.ipch
.vs/OpenGL_Day1/v17/DocumentLayout.json
.vs/OpenGL_Day1/v17/Browse.VC.opendb
.vs/OpenGL_Day1/v17/Browse.VC.db-wal
.vs/OpenGL_Day1/v17/Browse.VC.db-shm
.vs/OpenGL_Day1/v17/Browse.VC.db
.vs/OpenGL_Day1/v17/.suo
.vs/OpenGL_Day1/FileContentIndex/a61e1d1e-2431-48e6-9687-257518c440ac.vsidx
.vs/OpenGL_Day1/FileContentIndex/93f44add-3e57-4a24-9499-bbe51b783f86.vsidx
